SalesLogix GitExtensions/Web References/FeedbackService/Feedback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.customerfx.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.customerfx.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.customerfx.com/webservices/">
      <s:element name="SubmitFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FeedbackText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFeedbackResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitFeedback" />
  </wsdl:message>
  <wsdl:message name="SubmitFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="FeedbackSoap">
    <wsdl:operation name="SubmitFeedback">
      <wsdl:input message="tns:SubmitFeedbackSoapIn" />
      <wsdl:output message="tns:SubmitFeedbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeedbackSoap" type="tns:FeedbackSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitFeedback">
      <soap:operation soapAction="http://www.customerfx.com/webservices/SubmitFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FeedbackSoap12" type="tns:FeedbackSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitFeedback">
      <soap12:operation soapAction="http://www.customerfx.com/webservices/SubmitFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Feedback">
    <wsdl:port name="FeedbackSoap" binding="tns:FeedbackSoap">
      <soap:address location="http://www.cfxconnect.com/GitExtensionsFeedback/Feedback.asmx" />
    </wsdl:port>
    <wsdl:port name="FeedbackSoap12" binding="tns:FeedbackSoap12">
      <soap12:address location="http://www.cfxconnect.com/GitExtensionsFeedback/Feedback.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>